<h1>CHAT</h1>

<h3 id='username'></h3>

<form id='form'>
    <input type='text' name='message' id='message' placeholder='Ingrese un mensaje'>
    <input type='submit' value='Enviar Mensaje'>
</form>

<div id='chat'></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src='/socket.io/socket.io.js'></script>
<script src='/js/index.js'></script>