
<h2>{{err}}</h2>
<button onclick="location.href='/views/login'" class="error-login-button">Iniciar sesion</button>
<button onclick="location.href='/views/signup'" class="error-signup-button">Registrarse</button>
