<div class="login-container">
    <h1>Bienvenido A Quevedo Petshop</h1>

    <form action='/api/users/login' method='post' class="login-form">
        <input type='email' name='email' id='email' placeholder='Email' required> 
        <input type='password' name='password' id='password' placeholder='Contraseña' required>
        <br>
        <input type='submit' value='Ingresar'> 
    </form>

    <a href="/views/signup">¿No tienes cuenta? Crea una</a>
</div>