.login-container {
    width: 40%;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.26);
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
    gap: 20px
}

.login-form {
    display: flex;
    flex-direction: column;
    gap:10px
}

.login-form input {
    font-size: 1.1rem;
    border-radius: 10px;
}