.profile-container {
    display: flex;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}

.profile-info span {
    padding: 10px;
}

.back-profile-btn, .logout-profile-btn {
    font-size: 1.1rem;
    padding: 10px;
    margin: 5px 10px;
}